h1 {
  color: Green;
  text-align: center;
 font-family: Helvetica, sans-serif;
  font-size: 100px;
  background: LightSkyBlue;

}

p {
  color: Green;
  text-align: center;
 font-family: Helvetica, sans-serif;
   font-size: 70px;
}

body {
  background: linear-gradient(0, #FFFFF0, #87CEFA);
}
