h1{
  color:Green;
  background-color:SkyBlue;
font-family:cursive,monospace;
 text-align: center;
   font-size: 100px;
    
  
}


p {  
  text-align: center;
     color:Green;
font-size: 30px;
font-family:cursive,monospace;

  }


body {
  background: linear-gradient(0, #FFFFF0, #87CEFA);
}
